<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>
    <li>
        <a routerLink="/auth/registro">
            Ir a Registro
        </a>
    </li>

</ul>

<ul>
    <li>
        <a routerLink="/heroes/listado">
            Listado de Heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Agregar Heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar">
            Editar Heroe
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Buscar Heroe
        </a>
    </li>
</ul>
